body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    text-align: justify;
    margin: 10px 5px 0 5px;
}

.img {
    background-size: cover;
}


/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}


/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}


/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}


/*Selects every .menu-icon element that are preceded by a .menu-btn element*/

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.logo img {
    max-height: 40px;
}


/*Slideshow container*/

.slideshow-container {
    max-width: initial;
    position: relative;
    margin: auto;
    margin-top: 5%;
}

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*Main section*/

main {
    padding-top: 13%;
    width: 100%;
}

.btn {
    background-color: #AE9844;
    font-family: 'Source Sans Pro', sans-serif, 600;
    border-radius: 18px;
    font-style: italic;
    margin: 0 25% 0 25%;
    width: 50%;
}


/* Medium Sreen / ≥ 768px */

@media screen and (min-width: 48em) {
    .header li {
        float: left;
    }
    .btn {
        width: 20%;
        margin: 0 40% 0 40%;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .listing {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }
}


/* Laptops --> Screen = B/w 1025px to 1280px */

@media (min-width: 1025px) and (max-width: 1280px) {
    .img {
        width: 80%;
    }
    main {
        padding-top: 0.1%;
    }
    .info {
        display: grid;
        grid-template-areas: ". a b c.";
        grid-gap: 20px;
        height: 440;
    }
    .left {
        grid-area: a;
    }
    .right {
        grid-area: b;
        width: 100%;
        justify-self: right;
        padding-left: 10%;
    }
}


/*Phones --> portrait Screen = B/w 320px to 479px*/

@media (min-width: 320px) and (max-width: 480px) {}